[Unit]
Description=MTProto Proxy Python with TLS suppot
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mtprotoproxy.py /etc/mtprotoproxypy/mtprotoproxypy.conf
DynamicUser=yes
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mtprotoproxypy

[Install]
WantedBy=multi-user.target
